[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
distributed = "==2025.3.0"
gunicorn = "==23.0.0"
numpy = "==2.2.4"
polars = "==1.27.1"
pydantic = "==2.11.3"
uvicorn = "==0.34.1"
xarray = "==2025.3.1"
zarr = "==2.18.6"
dask = {extras = ["complete"], version = "==2025.3.0"}
fastapi = {extras = ["standard"], version = "==0.115.12"}
numcodecs = "==0.15.1"
pandas = {extras = ["pyarrow"], version = "==2.2.3"}

[dev-packages]

[requires]
python_version = "3.11"
